# Server Side #
###############

Server/tmp/*
Server/[Cc]onfig/core.php
Server/[Cc]onfig/database.php
Server/app/tmp/*
Server/app/[Cc]onfig/core.php
Server/app/[Cc]onfig/database.php
!empty
/nbproject/private/

# Client Side #
###############
