# Server Side #
###############

Server/tmp/*
Server/[Cc]onfig/core.php
Server/[Cc]onfig/database.php
Server/app/tmp/*
Server/app/[Cc]onfig/core.php
Server/app/[Cc]onfig/database.php
Server/app/Vendor/*
Server/app/Plugin/*
Server/vendors/*
Server/plugins/*
!empty

# Client Side #
###############


# IDE metadata #
################

nbproject
/nbproject/private/

# Dependencie Manager #
#######################
composer.lock
